.moon{
	height: 100px;
	width: 100px;
	background-color: #fff;
	border-radius: 50%;
	top: 10%;
	left: 30%;
	position: absolute;
}

.background{
	z-index: -1;
}

.littlestar{
	height: 8px;
	width: 8px;
	background-color: #ccc;
	position: absolute;
}
